.bg-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("https://templatemo.com/templates/templatemo_564_plot_listing/assets/images/heading-bg.jpg");
  position: relative;
  overflow: hidden;
}

.navbar_fixed {
  color: black !important;
}
